<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="so_100_arm_ros2_control" params="prefix initial_positions_file" >
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
            <joint name="${prefix}Shoulder_Rotation">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Shoulder_Rotation']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="${prefix}Shoulder_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Shoulder_Pitch']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="${prefix}Elbow">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Elbow']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="${prefix}Wrist_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Wrist_Pitch']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="${prefix}Wrist_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Wrist_Roll']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="${prefix}Gripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Gripper']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
    </xacro:macro>
</robot>
